<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Final Project</title>
	<style>
		body{
			text-align: center;
			background-color: aqua;
			text-shadow: silver .125em .125em .125em; 
		}
		
		button{
			border-radius: 1em;
			margin: 1em;
			padding: .5em;
		}
		input{
			border-radius: 1em;
			margin: 1em;
			text-shadow: silver .125em .125em .125em; 
			padding: .5em;
		}
		textarea{
			border-radius: 1em;
			padding: 1em;
			text-shadow: silver .125em .125em .125em; 
		}
		h1{
			font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
		}
		table{
			background: rgb(255, 255, 255);
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}
	</style>
</head>

<body>
	<h1>Fancy Font Viewer</h1>
	<hr>
	<a href="/">HOME</a>
	<h2>Currently Selected Fonts:</h2>
	<%- results %>

	
	
</body>

</html>